### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan ke MongoDB lokal.

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.3-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.3-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 1.9 MB/s  0:00:011.8 MB/s eta 0:00:01:01
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
Installing collected packages: dnspython, pymongo
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pymongo]━━━ 1/2 [pymongo]
Successfully installed dnspython-2.8.0 pymongo-4.15.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [4]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}

collection.insert_one(employee_data)
print("Data Inserted")

# Insert beberapa data sekaligus (multiple insert)
multiple_employees = [
    {'name': 'Ilham', 'department': 'IT', 'age': 32, 'salary': 5500},
    {'name': 'Syauqi', 'department': 'HR', 'age': 37, 'salary': 4200},
    {'name': 'Rasyad', 'department': 'Finance', 'age': 35, 'salary': 6000},
    {'name': 'Mada', 'department': 'IT', 'age': 25, 'salary': 4800}
]

collection.insert_many(multiple_employees)
print("Beberapa data berhasil dimasukkan!")
print("=== Data Pegawai ===")
for emp in collection.find():
    print(emp)

Data Inserted
Beberapa data berhasil dimasukkan!
=== Data Pegawai ===
{'_id': ObjectId('69094f5d1ec7b2e161575d46'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('69094f5d1ec7b2e161575d47'), 'name': 'Ilham', 'department': 'IT', 'age': 32, 'salary': 5500}
{'_id': ObjectId('69094f5d1ec7b2e161575d48'), 'name': 'Syauqi', 'department': 'HR', 'age': 37, 'salary': 4200}
{'_id': ObjectId('69094f5d1ec7b2e161575d49'), 'name': 'Rasyad', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('69094f5d1ec7b2e161575d4a'), 'name': 'Mada', 'department': 'IT', 'age': 25, 'salary': 4800}

In [5]:
# Update banyak dokumen
collection.update_many(
    {'department': 'IT'},
    {'$mul': {'salary': 1.10}}  # Naik 10%
)

print("Gaji pegawai di IT naik 10%")

# Tampilkan hasil setelah update
for emp in collection.find({'department': 'IT'}):
    print(emp)

Gaji pegawai di IT naik 10%
{'_id': ObjectId('69094f5d1ec7b2e161575d47'), 'name': 'Ilham', 'department': 'IT', 'age': 32, 'salary': 6050.000000000001}
{'_id': ObjectId('69094f5d1ec7b2e161575d4a'), 'name': 'Mada', 'department': 'IT', 'age': 25, 'salary': 5280.0}

In [6]:
# Update Nama
collection.update_one(
    {'name': 'Ilham'},
    {'$set': {'name': 'Ilham Imut'}}
)

print("Nama Ilham diupdate menjadi Ilham Imut.")

print("=== Data Pegawai ===")
for emp in collection.find():
    print(emp)

Nama Ilham diupdate menjadi Ilham Imut.
=== Data Pegawai ===
{'_id': ObjectId('69094f5d1ec7b2e161575d46'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('69094f5d1ec7b2e161575d47'), 'name': 'Ilham Imut', 'department': 'IT', 'age': 32, 'salary': 6050.000000000001}
{'_id': ObjectId('69094f5d1ec7b2e161575d48'), 'name': 'Syauqi', 'department': 'HR', 'age': 37, 'salary': 4200}
{'_id': ObjectId('69094f5d1ec7b2e161575d49'), 'name': 'Rasyad', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('69094f5d1ec7b2e161575d4a'), 'name': 'Mada', 'department': 'IT', 'age': 25, 'salary': 5280.0}

In [7]:
# Delete satu dokumen
collection.delete_one({'name': 'Rasyad'})
print("Data Rasyad dihapus")

Data Rasyad dihapus

In [8]:
# Delete banyak dokumen
collection.delete_many({'department': 'Finance'})
print("Semua pegawai Finance dihapus.")

Semua pegawai Finance dihapus.

In [9]:
print("=== Data Setelah Delete ===")
for emp in collection.find():
    print(emp)

=== Data Setelah Delete ===
{'_id': ObjectId('69094f5d1ec7b2e161575d47'), 'name': 'Ilham Imut', 'department': 'IT', 'age': 32, 'salary': 6050.000000000001}
{'_id': ObjectId('69094f5d1ec7b2e161575d48'), 'name': 'Syauqi', 'department': 'HR', 'age': 37, 'salary': 4200}
{'_id': ObjectId('69094f5d1ec7b2e161575d4a'), 'name': 'Mada', 'department': 'IT', 'age': 25, 'salary': 5280.0}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [2]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'IT', 'average_salary': 5665.0}
{'_id': 'HR', 'average_salary': 4200.0}

### 4. Latihan Tambahan

- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).

In [24]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["wann_store"]
products = db["products"]

# Masukkan produk 
data_produk = [
    {'name': 'Keyboard Mechanical RGB', 'category': 'Gaming Gear', 'price': 950000, 'stock': 25},
    {'name': 'Mouse Gaming Logitech G502', 'category': 'Gaming Gear', 'price': 850000, 'stock': 30},
    {'name': 'Headset Razer Kraken', 'category': 'Gaming Gear', 'price': 1200000, 'stock': 20},
    {'name': 'Mousepad SteelSeries QcK', 'category': 'Aksesoris', 'price': 250000, 'stock': 40},
    {'name': 'Monitor ASUS ROG 27 Inch', 'category': 'Perangkat', 'price': 6500000, 'stock': 10},
    {'name': 'Kursi Gaming Secretlab Titan', 'category': 'Furniture', 'price': 7500000, 'stock': 5},
    {'name': 'Controller Xbox Wireless', 'category': 'Gaming Gear', 'price': 1000000, 'stock': 15},
    {'name': 'Microphone HyperX QuadCast', 'category': 'Aksesoris', 'price': 1900000, 'stock': 12},
    {'name': 'Webcam Logitech C920', 'category': 'Aksesoris', 'price': 1100000, 'stock': 18},
    {'name': 'Laptop Gaming MSI Katana', 'category': 'Elektronik', 'price': 16500000, 'stock': 8}
]

# Insert data ke koleksi
products.insert_many(data_produk)
print("Data Products Inserted")

Data Products Inserted

- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

In [28]:
#Rata-rata harga produk
avg_price = list(products.aggregate([
    {'$group': {'_id': None, 'avgPrice': {'$avg': '$price'}}}
]))[0]['avgPrice']

print(f"Rata-rata harga produk: {avg_price:.2f}\n")

# Tampilkan produk dengan harga di atas rata-rata
print("Produk dengan harga di atas rata-rata:")
for p in products.find({'price': {'$gt': avg_price}}):
    print(p)

Rata-rata harga produk: 3775000.00

Produk dengan harga di atas rata-rata:
{'_id': ObjectId('690a9eb8bfd823b0b9e0dd7c'), 'name': 'Monitor ASUS ROG 27 Inch', 'category': 'Perangkat', 'price': 6500000, 'stock': 10}
{'_id': ObjectId('690a9eb8bfd823b0b9e0dd7d'), 'name': 'Kursi Gaming Secretlab Titan', 'category': 'Furniture', 'price': 7500000, 'stock': 5}
{'_id': ObjectId('690a9eb8bfd823b0b9e0dd81'), 'name': 'Laptop Gaming MSI Katana', 'category': 'Elektronik', 'price': 16500000, 'stock': 8}

- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [29]:
#aggregation pipeline untuk menghitung total produk dalam setiap kategori.
pipeline = [
    {'$group': {'_id': '$category', 'totalProduk': {'$sum': 1}}},
    {'$sort': {'totalProduk': -1}}  # urutkan dari jumlah terbanyak
]

print("Total produk dalam setiap kategori:")
for hasil in products.aggregate(pipeline):
    print(hasil)

Total produk dalam setiap kategori:
{'_id': 'Gaming Gear', 'totalProduk': 32}
{'_id': 'Aksesoris', 'totalProduk': 24}
{'_id': 'Furniture', 'totalProduk': 8}
{'_id': 'Elektronik', 'totalProduk': 8}
{'_id': 'Perangkat', 'totalProduk': 8}

### 5. Tugas

In [47]:
from pymongo import MongoClient

# Koneksi ke MongoDB lokal
client = MongoClient("mongodb://localhost:27017/")

# Pilih database dan collection
db = client["perusahaan"]
karyawan = db["karyawan"]

data = [
    {"nama": "Ilham", "umur": 27, "gaji": 7500000, "departemen": "HR"},
    {"nama": "Rasyad", "umur": 24, "gaji": 4500000, "departemen": "HR"},
    {"nama": "Thoher", "umur": 28, "gaji": 9500000, "departemen": "IT"},
    {"nama": "Ahmada", "umur": 30, "gaji": 8500000, "departemen": "IT"},
    {"nama": "Satrio", "umur": 25, "gaji": 6500000, "departemen": "Finance"},
    {"nama": "Gayuh", "umur": 20, "gaji": 4700000, "departemen": "Finance"},
    {"nama": "Daffa", "umur": 29, "gaji": 10500000, "departemen": "IT"},
    {"nama": "Tio", "umur": 19, "gaji": 7200000, "departemen": "HR"},
    {"nama": "Galang", "umur": 29, "gaji": 8300000, "departemen": "Finance"},
    {"nama": "Ridwan", "umur": 27, "gaji": 6200000, "departemen": "IT"}
]

# Masukkan data
karyawan.insert_many(data)
print("Data karyawan berhasil dimasukkan ke database 'perusahaan'!")

Data karyawan berhasil dimasukkan ke database 'perusahaan'!

- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.

In [50]:
pipeline_tugas1 = [
    # Kelompokkan per departemen dan nama, ambil gaji tertinggi
    {"$group": {
        "_id": {"departemen": "$departemen", "nama": "$nama"},
        "gaji": {"$max": "$gaji"}
    }},
    
    # Urutkan per departemen (asc) dan gaji (desc)
    {"$sort": {"_id.departemen": 1, "gaji": -1}},
    
    # Kelompokkan kembali per departemen
    {"$group": {
        "_id": "$_id.departemen",
        "top_5": {"$push": {"nama": "$_id.nama", "gaji": "$gaji"}}
    }},
    
    # mengambil hanya 5 teratas per departemen
    {"$project": {"top_5": {"$slice": ["$top_5", 5]}}}
]

hasil = karyawan.aggregate(pipeline_tugas1)
for data in hasil:
    print(f"\nDepartemen: {data['_id']}")
    for emp in data['top_5']:
        print(f"{emp['nama']} - Rp{emp['gaji']:,.0f}".replace(",", "."))

Departemen: IT
Daffa - Rp10.500.000
Thoher - Rp9.500.000
Ahmada - Rp8.500.000
Ridwan - Rp6.200.000

Departemen: Finance
Galang - Rp8.300.000
Satrio - Rp6.500.000

Departemen: HR
Ilham - Rp7.500.000

- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.

In [48]:
hapus = karyawan.delete_many({"umur": {"$lt": 25}})
print(f"{hapus.deleted_count} karyawan telah dihapus dari database.")

print("=== Data Setelah dihapus===")
for emp in karyawan.find():
    print(emp)

3 karyawan telah dihapus dari database.
=== Data Setelah dihapus===
{'_id': ObjectId('690aa6f5bfd823b0b9e0ddd1'), 'nama': 'Ilham', 'umur': 27, 'gaji': 7500000, 'departemen': 'HR'}
{'_id': ObjectId('690aa6f5bfd823b0b9e0ddd3'), 'nama': 'Thoher', 'umur': 28, 'gaji': 9500000, 'departemen': 'IT'}
{'_id': ObjectId('690aa6f5bfd823b0b9e0ddd4'), 'nama': 'Ahmada', 'umur': 30, 'gaji': 8500000, 'departemen': 'IT'}
{'_id': ObjectId('690aa6f5bfd823b0b9e0ddd5'), 'nama': 'Satrio', 'umur': 25, 'gaji': 6500000, 'departemen': 'Finance'}
{'_id': ObjectId('690aa6f5bfd823b0b9e0ddd7'), 'nama': 'Daffa', 'umur': 29, 'gaji': 10500000, 'departemen': 'IT'}
{'_id': ObjectId('690aa6f5bfd823b0b9e0ddd9'), 'nama': 'Galang', 'umur': 29, 'gaji': 8300000, 'departemen': 'Finance'}
{'_id': ObjectId('690aa6f5bfd823b0b9e0ddda'), 'nama': 'Ridwan', 'umur': 27, 'gaji': 6200000, 'departemen': 'IT'}
{'_id': ObjectId('690aa99bbfd823b0b9e0dddc'), 'nama': 'Ilham', 'umur': 27, 'gaji': 7500000, 'departemen': 'HR'}
{'_id': ObjectId('690aa99bbfd823b0b9e0ddde'), 'nama': 'Thoher', 'umur': 28, 'gaji': 9500000, 'departemen': 'IT'}
{'_id': ObjectId('690aa99bbfd823b0b9e0dddf'), 'nama': 'Ahmada', 'umur': 30, 'gaji': 8500000, 'departemen': 'IT'}
{'_id': ObjectId('690aa99bbfd823b0b9e0dde0'), 'nama': 'Satrio', 'umur': 25, 'gaji': 6500000, 'departemen': 'Finance'}
{'_id': ObjectId('690aa99bbfd823b0b9e0dde2'), 'nama': 'Daffa', 'umur': 29, 'gaji': 10500000, 'departemen': 'IT'}
{'_id': ObjectId('690aa99bbfd823b0b9e0dde4'), 'nama': 'Galang', 'umur': 29, 'gaji': 8300000, 'departemen': 'Finance'}
{'_id': ObjectId('690aa99bbfd823b0b9e0dde5'), 'nama': 'Ridwan', 'umur': 27, 'gaji': 6200000, 'departemen': 'IT'}

- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [45]:
pipeline_tugas3 = [
    {"$group": {
        "_id": "$departemen",
        "total_gaji": {"$sum": "$gaji"},
        "rata_umur": {"$avg": "$umur"}
    }}
]

hasil3 = list(karyawan.aggregate(pipeline_tugas3))
for h in hasil3:
    print(f"Departemen: {h['_id']}")
    print(f"  Total Gaji: Rp{h['total_gaji']:,}")
    print(f"  Rata-rata Umur: {h['rata_umur']:.1f} tahun\n")

Departemen: Finance
  Total Gaji: Rp14,800,000
  Rata-rata Umur: 27.0 tahun

Departemen: HR
  Total Gaji: Rp7,500,000
  Rata-rata Umur: 27.0 tahun

Departemen: IT
  Total Gaji: Rp34,700,000
  Rata-rata Umur: 28.5 tahun